<main class="body-home">

    <aside class="body-home-item body-home-left">
        <section class="body-home-left-item body-home-left-thoughts">
            <h3>Thoughts</h3>
            <div class="body-home-left-thoughts-box">
                {% assign sorted_thoughts = site.thoughts | sort: 'date' | reverse %}
                {% for thought in sorted_thoughts limit:5 %}
                    <h4><a href="{{ thought.url }}">{{ thought.title }}</a></h4>
                    <p> {{ thought.excerpt | strip_html | truncate: 100 }} </p>

                    <div class="body-home-left-thoughts-separator">
                        <p class="body-home-left-thoughts-date">
                            {{ thought.date | date: "%H:%M, %d/%m/%y" }}
                        </p>
                        <hr class="body-home-left-thoughts-line">
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="body-home-left-item body-home-left-gallery">
            <h3>Gallery</h3>
        </section>
    </aside>

    <section class="body-home-item body-home-middle">
        <h1>Welcome to my website</h1>
        <p>Here I will post blogs, thoughts, some pictures, my papers and projects. You can find my highlighted elements below. On the left there are recent thoughts and pictures. On the right there are my papers and projects. Thank you very much.</p>

        <div class="body-home-middle-featured">
            <div class="featured-blog">
                Blog
            </div>
            <div class="featured-thought">
                Thought
            </div>
            <div class="featured-picture">
                Picture
            </div>
            <div class="featured-paper">
                Paper
            </div>
            <div class="featured-project">
                Project
            </div>
        </div>
    </section>

    <aside class="body-home-right">
        <section class="body-home-right-item body-home-right-projects">
            <h3>Projects</h3>
        </section>
        <section class="body-home-right-item body-home-right-papers">
            <h3>Papers</h3>
        </section>
    </aside>

</main>
