<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-item navbar-item-left"> Home </a>
        <a href="/blog.html" class="navbar-item navbar-item-left">Blog</a>
        <a href="/thoughts.html" class="navbar-item navbar-item-left">Thoughts</a>
        <a href="/gallery.html" class="navbar-item navbar-item-left">Gallery</a>
    </div>
    <div class="navbar-right">
        <a href="/papers.html" class="navbar-item navbar-item-right">Papers</a>
        <a href="/projects.html" class="navbar-item navbar-item-right"">Projects</a>
        <a href="/about.html" class="navbar-item navbar-item-right"">About</a>
    </div>
</nav>
