body {
  font-family: 'Courier New', monospace;
  background-color: #24283b;
  color: #cfc9c2;
  margin: 0;
  padding: 0 5px;
}

.current {
  color: green;
}

.navbar {
  background-color: #24283b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  box-shadow: 0 0 10px #1a1b26;
}

.navbar a {
  text-decoration: none;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.navbar-item-left {
  background-color: #2ac3de;
  color: #1a1b26;
  padding: 3px 6px;
  border-radius: 1000px;
  box-shadow: 0 0 5px #73dacb;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
}

.navbar-item-right {
  background-color: #2ac3de;
  color: #1a1b26;
  padding: 3px 6px;
  border-radius: 1000px;
  box-shadow: 0 0 5px #73dacb;
}

